.wrapper {
  display: flex;
  width: 100%;;
  margin-bottom: 8px;
  padding: 8px 0;
  border-bottom: 1px solid var(--light-grey);
  align-items: center;
  font-weight: 600;
}

.editable {
  font-size: 42px;
  color: var(--black);
  outline: none;
  caret-color: var(--black);
  white-space: nowrap;
  min-width: 1ch;
}

.currency {
  font-size: 32px;
  color: var(--main-blue);
  margin-left: 8px;
  user-select: none;
  pointer-events: none;
}